<header>
  <h1>Gabor Szakacs</h1>
  <nav>
    <ul>
      <li><a href="#welcome">Welcome</a></li>
      <li><a href="#our-offers">Our Offers</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
