body {
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
  top: 120px;
  font-size: 18px;
}

h2 {
  margin: 30px 0 10px 0;
}

h4 {
  margin: 30px 0 10px 0;
}

header {
  background-color: #444;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100px;
  z-index: 1;
  border-bottom: white 1px solid;
  box-shadow: 0 0 50px 0 #000;
}

header h1{
  margin: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
  display: inline-block;
  background-color: #444;
  padding: 10px;
  margin: 0 10px;
  text-align: left;
  border: grey 1px dashed;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

nav li:hover > ul {
  display: inherit;
}

nav li:hover {
  border: white 1px solid;
}

nav ul ul ul {
  left: 100%;
  top: 0;
}

.nav-dropdown {
  background-color: #444;
}

.nav-dropdown a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
}

.nav-dropdown li {
  border: #555555 1px dashed;
  width: 150px;
  margin: 0;
  padding: 0;
  display: block;
}

.nav-dropdown li:hover {
  border: white 1px solid;
  background-color: #555555;
}

.game-card {
  display: inline-table;
  width: 250px;
  height: 300px;
  background-color: #555;
  margin: 20px;
  text-align: left;
  border: grey 1px dashed;
}

.game-card:hover{
  background-color: #666;
  border: white 1px solid;
}

.game-card img {
  width: 100%;
  object-fit: fill;
}

.game-card h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0;
  text-align: center;
  text-decoration: none !important;
}

.game-card p {
  font-size: 22px;
  margin: 0 20px 20px 20px;
  text-align: center;
}

.game-info{
  display: inline-table;
  max-width: 600px;
  text-align: justify;
}

.game-info img{
  max-width: 100%;
  margin: auto;
}

#privacy-policy{
  display: inline-table;
  max-width: 600px;
  text-align: justify;
  padding-top: 100px;
  margin-top: 100px;
  border-top: grey 5px double;
}

.contacts{
  width: 350px;
  display: inline-table;
}

.person-card{
  text-align: left;
  border: grey 1px dashed;
  width: 100%;
  height: 100px;
  margin: 20px 0
}

.person-card td{
  vertical-align: top;
}

.person-card h3{
  padding: 0;
  margin: 10px 0 0 0;
}
.person-card p{
  padding: 0px;
  margin: 15px 0 0 0;
}

.person-card img{
  object-fit: contain;
  padding: 10px;
  width: 75px;
}

footer {
  color: #fff;
  padding: 25px;
}
a:-webkit-any-link {
  color: white;
}







.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.slides {
  display: flex;
  transition: all 0.5s ease;
  border: grey 1px dashed;
  padding: 10px 10px 5px 10px;
}

.slide {
  width: 100%;
  text-align: center;
  display: none;
}

.slide img{
  width: 100%;
  object-fit: contain;
  margin: 0;
}

.prev-btn, .next-btn {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  width: auto;
  padding: 5px 10px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0;
  user-select: none;
  border: grey 1px dashed;
}

.next-btn {
  right: 0;
}

.prev-btn:hover, .next-btn:hover {
  border: white 1px solid;
}

.pagination {
  text-align: center;
  margin: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  display: inline;
}
